## Assignment 2 - please answer the questions as thoroughly as possible, and provide detailed interpretation whenever possible

In [3]:
#import data: 
%cd /Users/chayapa/Desktop/Grad school/FALL19/PYTHON/

/Users/chayapa/Desktop/Grad school/FALL19/PYTHON

In [14]:
conda install pandas

Collecting package metadata (current_repodata.json): done
Solving environment: /
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/osx-64::anaconda==2019.07=py37_0
  - defaults/osx-64::numba==0.44.1=py37h6440ff4_0
done

## Package Plan ##

  environment location: //anaconda3

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _anaconda_depends-2019.03  |           py37_0           6 KB
    anaconda-custom            |           py37_1           3 KB
    ca-certificates-2019.10.16 |                0         131 KB
    certifi-2019.9.11          |           py37_0         154 KB
    openssl-1.1.1d             |       h1de35cc_3         3.4 MB
    pandas-0.25.2              |   py37h0a44026_0        10.2 MB
    tbb-2019.8                 |       h04f5b5a_0         149 KB
    ------------------------------------------------------------
                                           Total:        14.1 MB

The following NEW packages will be INSTALLED:

  _anaconda_depends  pkgs/main/osx-64::_anaconda_depends-2019.03-py37_0
  tbb                pkgs/main/osx-64::tbb-2019.8-h04f5b5a_0

The following packages will be UPDATED:

  ca-certificates                               2019.5.15-0 --> 2019.10.16-0
  certifi                                  2019.6.16-py37_0 --> 2019.9.11-py37_0
  openssl                                 1.1.1c-h1de35cc_1 --> 1.1.1d-h1de35cc_3
  pandas                              0.24.2-py37h0a44026_0 --> 0.25.2-py37h0a44026_0

The following packages will be DOWNGRADED:

  anaconda                                   2019.07-py37_0 --> custom-py37_1



Downloading and Extracting Packages
certifi-2019.9.11    | 154 KB    | ##################################### | 100%
anaconda-custom      | 3 KB      | ##################################### | 100%
tbb-2019.8           | 149 KB    | ##################################### | 100%
ca-certificates-2019 | 131 KB    | ##################################### | 100%
_anaconda_depends-20 | 6 KB      | ##################################### | 100%
openssl-1.1.1d       | 3.4 MB    | ##################################### | 100%
pandas-0.25.2        | 10.2 MB   | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [13]:
conda install numpy

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: //anaconda3

  added / updated specs:
    - numpy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.7.12               |           py37_0         3.0 MB
    ------------------------------------------------------------
                                           Total:         3.0 MB

The following packages will be UPDATED:

  conda                                       4.7.10-py37_0 --> 4.7.12-py37_0



Downloading and Extracting Packages
conda-4.7.12         | 3.0 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
import numpy as np

In [4]:

df=pd.read_csv("banklist.csv")
df.head()
#print(len(df))

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,21-Feb-18
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,21-Feb-18
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,5-Dec-17

## Question 1 (20 points)

In [ ]:
#Look at the data set: First, make sure there are no missing values in
#any of the categorical columns.If there are, replace them with
#a 'M' value. Then, consider that Acquiring Institution column is the institution that holds various banks.
#What are the top 4 acquiring institutions?$

In [17]:
df.isnull().sum() #there's no n/a in the data set

Bank Name                0
City                     0
ST                       0
CERT                     0
Acquiring Institution    0
Closing Date             0
Updated Date             0
dtype: int64

In [18]:
print(df.isnull().sum())

Bank Name                0
City                     0
ST                       0
CERT                     0
Acquiring Institution    0
Closing Date             0
Updated Date             0
dtype: int64

In [19]:
df_categorical = df[['Bank Name','City', 'ST', 'Acquiring Institution']] #creating categorical variables

In [8]:
print(df_categorical.isnull().sum())

Bank Name                0
City                     0
ST                       0
Acquiring Institution    0
dtype: int64

In [10]:
df_cat_clean = df_categorical.fillna('M')

In [ ]:
#How many city names start with the letter 'A' and how many don't? Use the str vectorized series attribute

In [ ]:
#answer here

In [ ]:
#What are the cities whose names consist of 2 words and how many are there?

In [ ]:
#answer here

## Question 2 (50 points)

In [ ]:
#use various apply and group by methods studied in class to obtain the city for each state corresponding to the smallest
#number of certificates (CERT column). Then, display only the city, state combinations along with the number of certificates
#(data frame with 3 columns) for which the Acquiring Institution contains 3 words (for this exercise, you can count symbols
#like & and others as words for each Acquiring Institution)

In [ ]:
#answer here

## Question 3 (30 points)

In [ ]:
#finally, let us obtain a distribution of CERT column across all records. Then, let us subset the original data frame to 
#only consider records for which CERT is smaller than 10th percentile of the total. Then, for these records, use pivot table
#method to obtain the min, max, and average CERT for each ST combination for which the number of records is 
#more than 1. We will have index for 
#state, and then 4 columns: ST,min_CERT, max_CERT, mean_CERT for CERT (make sure
#you do not have a multi-level data frame! Finally, display a bar plot for the first 3 states in the resulting
#data frame: each of the 3 states will be on x axis, and the corresponding 3 summary statistics will be the 3 bars - stacked
#bar plot.

In [ ]:
#Answer here